<ul class="techdigest__list">
{% for item in page.header.article.comefareper|ksort %}
    <li>
        <div class="techdigest__category">{{ item.category }}</div>
        <a href="{{ item.link }}" target="_blank"><h3>{{ item.title }}</h3></a>
        <p class="techdigest__author">di {{ item.author }} ({{ item.source }})</p>
        <div class="techdigest__tags">
            {% for tag in item.tags %}
                #{{ tag }}
            {% endfor %}
        </div>
    </li>
{% endfor %}
{% for item in page.header.article.eventi|ksort %}
    <li>
        <div class="techdigest__category">{{ item.category }}</div>
        <a href="{{ item.link }}" target="_blank"><h3>{{ item.title }}</h3></a>
        <p class="techdigest__author">di {{ item.author }} ({{ item.source }})</p>
        <div class="techdigest__tags">
            {% for tag in item.tags %}
                #{{ tag }}
            {% endfor %}
        </div>
    </li>
{% endfor %}
{% for item in page.header.article.informazioni|ksort %}
    <li>
        <div class="techdigest__category">{{ item.category }}</div>
        <a href="{{ item.link }}" target="_blank"><h3>{{ item.title }}</h3></a>
        <p class="techdigest__author">di {{ item.author }} ({{ item.source }})</p>
        <div class="techdigest__tags">
            {% for tag in item.tags %}
                #{{ tag }}
            {% endfor %}
        </div>
    </li>
{% endfor %}
</ul>

<hr />

<strong>Vuoi aggiungere un articolo? Crea una pull request modificando i file sotto: <a href="https://github.com/it4mage/it4mage.org/blob/master/htdocs/user/pages/05.raccolta-articoli-magento/_topublish" >htdocs/user/pages/05.raccolta-articoli-magento/_topublish</a></strong>