<!-- HEADER -->
<header class="a-header style-2">
    <div class="inner-wrap">
        <div class="logo">
            <a href="{{ base_url_absolute }}" class="table-cell"><img src="{{ url('theme://img/logo-text.png') }}" alt="IT4Mage.org"></a>
        </div>
        <div class="nav-menu-icon"><a href="#" class="table-cell"><i></i></a></div>
        <div class=" wpc-navigation navigation">
            <nav id="dl-menu" class="dl-menuwrapper">
                <ul class="main-menu">
                    {#<li class="active menu-item menu-item-has-children"><a href="#welcome">welcome</a>#}
                        {#<ul class="sub-menu">#}
                            {#<li class="back hidden-md hidden-lg"><a href="">back</a></li>#}
                            {#<li class="active"><a href="index.html">home main</a></li>#}
                            {#<li><a href="index-2.html">home style two</a></li>#}
                            {#<li><a href="index-3.html">home style three</a></li>#}
                            {#<li><a href="index-4.html">video background</a></li>#}
                        {#</ul>#}
                    {#</li>#}
                    <li class="menu-item"><a href="{{ url('chi-siamo') }}">Chi Siamo</a></li>
                    <li class="menu-item"><a href="{{ url('cosa-facciamo') }}">Cosa Facciamo</a></li>
                    <li class="menu-item"><a href="{{ url('manifesto') }}">Manifesto</a></li>
                    {#<li class="menu-item"><a href="{{ url('raccolta-articoli-magento') }}">Raccolta Articoli</a></li>#}
                    {#</li>#}
                    {#<li class="menu-item menu-item-has-children"><a href="index.html#welcome">pages</a>#}
                        {#<ul class="sub-menu">#}
                            {#<li class="back hidden-md hidden-lg"><a href="">back</a></li>#}
                            {#<li><a href="blog.html">blog</a></li>#}
                            {#<li><a href="single-blog.html">single blog</a></li>#}
                        {#</ul>#}
                    {#</li>#}
                    {#<li class="li-button"><a href="#popup-booked-form" class="a-btn popup-with-form" data-effect="mfp-zoom-in">book your seat</a></li>#}
                </ul>
            </nav>
        </div>
    </div>
</header>
<!--/HEADER-->